{% extends 'base.html' %}
{% block title %}Classement{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom">
  <div class="bg-image"
     style="background-image: url('../static/img/bgAnime.jpg');
            height: 100vh">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Classement</h2>
              <!-- <p class="text-white-50 mb-5">Veuillez entrer un email et un mot de passe!</p> -->
                <table class="table table-bordered table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for key, value in classement.items(): %}
                         <tr>
                           <td>{{ loop.index }}</td>
                           <td>{{ key }}</td>
                           <td>{{ value }}</td>
                         </tr>
                  {% endfor %}

                  </tbody>
                </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
