{% extends 'base.html' %}
{% block title %}Quizz{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom">
          <div class="bg-image" >
              <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                          <h2 class="fw-bold mb-2 text-uppercase">Anime Quiz</h2>
                          <p class="text-white-50 mb-5">Qui est donc ce personnage ?</p>

                          <div class="text-center">

                              <p>{{image_link}}</p>
                              <img src='../static/img/{{image_link}}'  alt="" />
                          </div>
                            <!--  Mettre les nom tiré au sort et la reponse                          -->
                          <form id="my_form" method="post">
                                <input type="radio" id="name1" name="name" value="{{names[0]}}">
                                <label for="name1">{{names[0]}}</label><br>
                                <input type="radio" id="name2" name="name" value="{{names[1]}}">
                                <label for="name2">{{names[1]}}</label><br>
                                <input type="radio" id="name3" name="name" value="{{names[2]}}">
                                <label for="name3">{{names[2]}}</label><br>


                            <br>
                          <!--<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">mot de passe oublier?</a></p> -->

                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" >Validez la reponse</button>
                        </form>

                            <p id="response"></p>

                            <script>
                                const correctAnswer = "{{ correct_answer }}"
                                const questionNumber = "{{ question_number }}"

                                document.getElementById("my_form").addEventListener("submit", function(e){
                                        e.preventDefault();
                                        const formData = new FormData(this);
                                        formData.append("correct_answer", correctAnswer)
                                        formData.append("question_number", questionNumber)

                                        fetch("/submit", {
                                            method: "POST",
                                            body: formData
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            <!--document.getElementById("response").textContent = data.message;-->
                                            if (data.redirect) {
                                                window.location.href = data.redirect;
                                            }
                                        })
                                        .catch(error => {
                                            console.error("Error:", error);
                                        });
                                     });
                                 </script>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
</section>
{% endblock %}